

.container span{
    margin-bottom:22px; 
    display:inline-block;
    padding:9px;
}

.container span:last-child{
   margin-bottom:-11px;
}
.container h2{
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  /* identical to box height */
  color: #000000;
}
.container h5{
  font-size:15px;
}

.input-group input{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

input[type="submit"]{ 
  background:#FF725E ! important;
  color:#fff;
  position:relative;
  left:9px;
  top:25px; 
  width:100px;
  cursor:pointer;
}
