@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--main-color:#EECAB2;
	--color-dark:#1D2231;
	--text-grey:#8390A2;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-style: 'Poppins', sans-serif;
}
main {
	margin-top: 25px;
	padding: 2rem 1.5rem;
	background: #EECAB2;
	min-height: calc(20vh - 20px);
}
.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1rem;
}
.card-single {
	display: flex;
	justify-content: space-between;
	background: #EECAB2;
	padding: 2rem;
	border-radius: 2px;
}
.card-single div:last-child span{
	font-size: 3rem;
	color: var(--main-color);
}
.card-single div:first-child span{
	color: var(--text-grey);
}
/*.card-single:last-child h1{
	color: var(--main-color);
}
.card-single:last-child h1, 
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
	color:#fff;
}
*/









/*
 <?php
      // $page = "Dashboard";
      // session_start();
      // include '_config/conn.php';
      // include "_config/head.php";
      // include '_config/tgl_ind.php';

      $poliklinik = mysqli_query($con, "SELECT * FROM tb_poliklinik");
      $jumlahpoliklinik = mysqli_num_rows($poliklinik);
      $pasien = mysqli_query($con, "SELECT * FROM tb_pasien");
      $jumpasien = mysqli_num_rows($pasien);
      $obat = mysqli_query($con, "SELECT * FROM tb_obat");
      $jumobat = mysqli_num_rows($obat);
      $dokter = mysqli_query($con, "SELECT * FROM tb_dokter");
      $jumlahdokter = mysqli_num_rows($dokter);
      ?>*/


